table, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0;
}


td {
    margin: 0;
    padding: 0;
    width: 200px;
    height: 200px;
}

img {
    width: 200px;
    height: 200px;
    padding: 0;
    margin: 0;
}



